/* Body font! true type*/
@font-face{
    font-family:"body_font";
    src: url("../fonts_folder/playtime.ttf") format("truetype");

}

/* Header font!*/
@font-face{
    font-family:"header_font";
    src: url("../fonts_folder/kid.otf") format("opentype");
}

html{
    scroll-behavior: smooth;;
}

body{
    font-family: "body_font";
    text-align:  center;
    font-size: 18px;

    margin-bottom: 100px;
}

h1{
    font-family:"header_font";
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 2.5em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}

h2{
    font-family:"header_font";
    text-transform: uppercase;
    font-weight: bolder;
    font-size: 1.5em;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    letter-spacing: 2px;
}


input{
    border: solid 1.5px black;
    border-radius: 5px;
    padding: 10px;
    font-family: body_font;
    width: 150px;
    box-sizing: border-box; /* Ensures padding is included in width */
}

button{
    border: solid 1.5px black;
    border-radius: 5px;
    padding: 10px;
    font-family: body_font;
    font-size: 16px;
    font-weight:bolder;
    cursor: pointer;
}

a{
    text-decoration: none;
    color: blue;
    
}
li{
    list-style: none;
    padding: 2px;
}

textarea{
    font-family: body_font;
    padding:10px;
    width: 300px;
    margin: 10px;
    border-radius: 2px;
}

hr{
    width: 250px;
    margin: 40px auto;
}

footer{
    display: flex;
    flex-direction: row;
    justify-content: end;
    padding-top:50px;
}


#journal_vault{
    background-color: beige;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    width: 300px;
    margin: 20px auto;
    border-radius: 5px;
    display: inline-block;
}

h3{
    font-family: header_font;
    text-transform: uppercase;
    font-size: 16px;
    text-shadow: 3px 3px 3px grey;
    text-decoration: underline 3px;
    margin-bottom: 5px;
}

/*Hide p element error box if empty*/
#personal_journal_error:empty{
    margin:0px;
    padding:0px;
}
